name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:

      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.7"
          enable-cache: true

      - run: uv sync --locked --all-extras

      - name: Test with pytest
        env:
          COVERAGE_FILE: coverage-data-${{ matrix.python-version }}
        run: uv run --frozen --no-sync coverage run -m pytest

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ matrix.python-version }}
          path: coverage-data-${{ matrix.python-version }}*

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    if: ${{ github.ref != 'refs/heads/main' }}
    needs: tests
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.7"
          enable-cache: true

      - run: uv sync --locked --all-extras

      - uses: actions/download-artifact@v4
        with:
          pattern: coverage-data-*
          merge-multiple: true

      - name: Combine coverage
        # Combines all the downloaded coverage artifacts in a single `.coverage` file,
        # which will then be used by `py-cov-action/python-coverage-comment-action`.
        # We added this step to replace the variable `MERGE_COVERAGE_FILES: true`
        # in the next step, which had started to raise errors
        # (https://github.com/fractal-analytics-platform/fractal-server/pull/1725).
        run: uv run --frozen --no-sync coverage combine coverage-data-*

      - name: Add coverage comment to Pull Requests
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}
          MINIMUM_GREEN: 90
          MINIMUM_ORANGE: 60
          ANNOTATE_MISSING_LINES: true
          ANNOTATION_TYPE: notice
